{% extends 'base.html' %}

{% block header %}
<div class="text-center">
  <h1 class="display-4">CS 240's Infinite Maze (Course-Wide Microservice)</h1>
</div>
{% endblock %}

{% block container %}
<div class="alert alert-primary" role="alert">

  <h3>The infinite maze part is disabled until the final exam session.</h3>
  <div>
    Everything else about this service still works, we just won't explore the maze until the exam session -- you can (and should) connect your MG and test it in the servers tab.<br></div>
    <br>
    See you at 7:00pm in 100 Materials Science & Eng Building. :)<br>
    - wade
  <div>
</div>
{% endblock %}
