{% extends 'base.html' %} {% block container %}
<div class="display-4">Servers</div>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>URL</th>
    <th>Weight</th>
    <th>Status</th>
    <th>Message</th>
    <th>Count</th>
  </tr>
  {% for server in data.servers %}
  <tr {% if loop.index > 1 and loop.previtem["author"] != server["author"] %}style="border-top: solid 2px black"{% endif %}>
    <td>
      <a href="/one/{{ server["_id"] }}/">
        {{ server["name"] }}
        <div style="font-size: 10px; color: #999">{{ server["_id"] }}</div>
      </a>
    </td>
    <td>{{ server["author"] }}</td>
    <td>{{ server["url"] }}</td>
    <td>{{ server["weight"] }}</td>
    <td>{{ server["status"] }}</td>
    <td>{{ server["message"] }}</td>
    <td>{{ server["count"] }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
