 .w {
      height: 20px;
      width: 20px;
      display: inline-block;
    }

    .w span {
      color: blue;
      font-size: 16px;
      position: relative;
      top: -5px;
    }

    .maze-row {
      height: 20px;
    }

    /* xxx1 */
    .w1, .w3, .w5, .w7, .w9, .wb, .wd, .wf { border-left: solid 2px black; }
    
    /* xx1x => 2, 3, 6, 7, 10, 11, 14, 15 */
    .w2, .w3, .w6, .w7, .wa, .wb, .we, .wf { border-bottom: solid 2px black; }

    /* x1xx => 4, 5, 6, 7, 12, 13, 14, 15 */
    .w4, .w5, .w6, .w7, .wc, .wd, .we, .wf { border-right: solid 2px black; }

    /* 1xxx */
    .w8, .w9, .wa, .wb, .wc, .wd, .we, .wf { border-top: solid 2px black; }